url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[event_galleries]

==
<?php
use Pensoft\Calendar\Models\Entry;

function onStart(){
    $this['is_detail_page'] = false;

    if($this->param('slug')){
			$this['entry'] =  Entry::select(
			'*',
			'title',
			'place',
			'description',
			'url',

			DB::raw("to_char(\"start\", 'DD') as start_day"),
			DB::raw("to_char(\"start\", 'YYYY') as start_year"),
			DB::raw("to_char(\"end\", 'DD') as end_day"),
			DB::raw("to_char(\"end\", 'YYYY') as end_year"),
			DB::raw("to_char(\"start\", 'month') as start_month"),
			DB::raw("to_char(\"end\", 'month') as end_month"),
			DB::raw("
			\"end\" is not null as has_end
			")


			)->where('slug', $this->param('slug'))->first();

            $this['is_detail_page'] = true;


            $this['attendees'] = new class {
                public function getIM($id) {
                    return Attendant::where('event_id', $id)
                        ->join('users', 'users.id', '=', 'pensoft_eventreporting_attendants.user_id')
                        ->get();
                }
            };
            //$this['internalData'] = new class {
            //    public function getIM($id) {
            //        return Data::where('slug', $id)->first();
            //    }
            //};

            $titleWords = explode(' ', $this['entry']['title']);
            $seoKeywords = $this['entry']['meta_keywords'] ?: implode(',', $titleWords);

            \BennoThommo\Meta\Meta::set('title', $this['entry']['title']);
            \BennoThommo\Meta\Meta::set('description', str_limit(Html::strip($this['entry']['description']), 255) );
            \BennoThommo\Meta\Meta::set('keywords', $seoKeywords );

            \BennoThommo\Meta\Meta::set('twitter:card', 'summary_large_image');
            \BennoThommo\Meta\Meta::set('twitter:title', $this['entry']['title']);
            \BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['entry']['description']), 255));
            \BennoThommo\Meta\Meta::set('og:title', $this['entry']['title']);
            \BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['entry']['description']), 255) );
            \BennoThommo\Meta\Meta::set('og:type', 'article');
            \BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));

            if($this['entry']['cover_image']){
                \BennoThommo\Meta\Meta::set('twitter:image', $this['entry']['cover_image']->getThumb(600, null, ['mode' => 'auto']));

            \BennoThommo\Meta\Meta::set('og:image', $this['entry']['cover_image']->getThumb(600, 314, ['mode' => 'crop']));
            \BennoThommo\Meta\Meta::set('og:image:width', 600);
            \BennoThommo\Meta\Meta::set('og:image:height', 314);
            }

}
$this['page_url'] = $this->pageUrl('');

	$this['entries'] = Entry::orderBy('start', 'desc')->paginate(15);
    $this['slug'] = $this->param('slug');


}
?>
==
{% if not slug %}
    <div class="container">
        <div class="tabs">
            <a class="" href="{{'news'|page}}">News</a>
            <a class="active">Events</a>
        </div>
    </div>
    <div class="container">
            <div class="row">
                <div class="events_list_container">
                    {% for entry in entries %}
                    <a href="{{'events'|page}}/{{entry.slug}}">
                        <div class="row event_list_item">
                            <div class="col-md-3 col-xs-12">
                                <span class="event-list-date">{{entry.event_date}}</span>
                                <span class="event-list-place">{{entry.place}}</span>
                            </div>
                            <div class="col-md-9 col-xs-12">{{entry.title|raw}}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="row container mb-4">
                    {{ entries.fragment('listView').render|raw }}
                </div>

            </div>
        </div>

    </div>

	{% else %}

	{% if entry %}

<div class="container">
    <div class="row single-news-item">
        <div class="col-xs-12 col-md-7">
            <div class="news_content_wrapper">
                <div class="news-title">
                    <h1 class="single-new-title">{{entry.title}}</h1>
                </div>
                <div class="row middle-xs between-xs">
                    <div class="col-lg col-xs-12"><div class="text-published">{{entry.event_date}}</div></div>
                    <div class="col-lg col-xs-12"><div class="text-published">{{entry.place}}</div></div>
                    <div class="col-lg col-xs-12 center-xs end-lg">
                        {% if entry.url %}
                        <a href="{{entry.url}}" class="read_more" target="_blank">Visit Website</a>
                        {% endif %}
                    </div>
                </div>

                <div class="content">
                    {{entry.description|raw}}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            {% if entry.cover_image %}
            <div class="row center-xs">
                <img class="content left" src="{{ entry.cover_image|crop_image|resize(673, auto, { mode: 'crop' }) }}" />
            </div>
            {% endif %}
        </div>
        <div class="row d-flex align-center">
            {% component 'event_galleries' %}
        </div>
        <div class="row share_container middle-xs">
            <div class="col-md-6 col-xs-3 start-xs">Share</div>
            <div class="col-md-12 col-xs-12">
                <a href="http://twitter.com/share?text={{entry.title}}&url={{page_url}}" target="_blank" class="btn p-primary pr p-twitter normal"></a>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="btn pr p-primary p-facebook normal"></a>

                <a href="https://www.linkedin.com/sharing/share-offsite/?url={{page_url}}" target="_blank" class="btn pr p-primary p-linkedin normal"></a>

            </div>
        </div>
    </div>
</div>
{% endif %}

{% endif %}

<script>
    // Object to keep track of the current slide index for each gallery
    var slideIndex = {};

    // Function to initialize the slide index for all galleries
    function initGalleries() {
        $('.gallery_container').each(function() {
            var id = this.id.split('_')[1];
            slideIndex[id] = 1;
            showSlides(1, id); // Show the first slide for each gallery
        });
    }

    // Function to increment/decrement the current slide index and display the slide
    function plusSlides(n, galleryId) {
        showSlides(slideIndex[galleryId] += n, galleryId);
    }

    // Function to display the current slide based on the thumbnail clicked
    function currentSlide(n, galleryId) {
        showSlides(slideIndex[galleryId] = n, galleryId);
    }

    // Main function to display slides
    function showSlides(n, galleryId) {
        var i;
        var gallery = $("#gallery_" + galleryId);
        var slides = gallery.find(".mySlides_" + galleryId);
        var dots = gallery.find(".demo_" + galleryId);
        var captionText = gallery.find("#caption_" + galleryId);

        if (n > slides.length) { slideIndex[galleryId] = 1 }
        if (n < 1) { slideIndex[galleryId] = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex[galleryId]-1].style.display = "block";  
        dots[slideIndex[galleryId]-1].className += " active";
        captionText.html(dots[slideIndex[galleryId]-1].alt);
    }

    // Initialize galleries when the document is ready
    $(document).ready(function() {
        initGalleries();
    });
</script>